.menu_active:hover{
  color:aqua;
  background-color: gray;
border-bottom: 2px solid black ;}
.itsme{
  display: flex;
  justify-content: space-around;
}
@media (max-width:700px) {
  .itsme{
    flex-direction: column;
  }
}